@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customizing the scrollbar for Chrome, Edge, Safari */
::-webkit-scrollbar {
  height: 2px; /* Adjust the height of the horizontal scrollbar */
  width: 4px; /* Adjust the width of the vertical scrollbar if needed */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Optional: Round the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darken the color of the scrollbar when hovering */
}

html,
body,
:root {
  height: 100%;
  scrollbar-width: 2px; /* Make the scrollbar thin */
  scrollbar-color: #b4b1b1 #f1f1f1;
  font-family: 'MyCustomFont', sans-serif;
  font-size: 13px; /* Color of the scrollbar thumb and track */
}
@font-face {
  font-family: 'MyCustomFont';
  src: url('/fonts/MyCustomFont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyCustomFont', sans-serif;
  margin: 0;
  font-size: 13px;
}



a {
  @apply underline cursor-pointer;
}

/* Sidebar Menu width fix */
.ant-menu-inline-collapsed {
  width: 79px !important;
}

/* Paragraph unnessary line space remove */
p,
h1,
h2,
h3,
h4,
h5 {
  @apply m-0;
}

.upload-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #d9d9d9;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  height: 120px; /* Adjust as needed */
}

.uploaded-image {
  max-width: 100%;
  max-height: 80px;
  object-fit: contain;
}


